/* general */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 33px;
  font-weight: bold;
}

h2 {
  font-size: 33px;
  font-weight: bold;
}

section {
  padding-top: 25px;
  padding-bottom: 35px;
}

.row {
  margin: 40px 15%;
}

.col-lg-6 {
  padding-left: 0;
  padding-right: 0;
}

.btn {
  border-radius: 0px;
}

/* navigation */

.navbar {
  padding: 30px 80px;
  font-size: 23px;
  background-color: #AC781D;
}

.navbar-brand {
  font-size: 30px;
}

.nav-link {
  color: #eaeaea !important;
}

/* home */

.front-image {
  object-fit: cover;
  object-position: 30% 80%;
  border-radius: 100%;
  float: right;


  width: 350px;
  height: 350px;
}

#Home p {
  padding-top: 20px;
}

#Home h1 {
  padding-top: 10px;
}

/* ikjes */

#ikjes {
  background-color: #00342B;
  padding: 15px 0;
  text-align: center;
  color: #cbcbcb;
}

.carousel-item p {
  max-width: 76%;
  margin-left: 12%;
  margin-right: 12%;
}

.carousel-control-prev {
  margin-left: -20%;
}

.carousel-control-next {
  margin-right: -20%;
}

.ikjes-explained {
  font-size: 23px;
  margin-bottom: 60px;
}

/* work */

.work-image {
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 100%;
  float: left;


  width: 350px;
  height: 350px;
}

#Work p {
  padding-top: 20px;
}

#Work h2 {
  padding-top: 10px;
}

/* poster */

#Poster {
  background-color: #AC781D;
  color: #fff;
}

#Poster img {
  width: 200px;
  height: auto;
  float: right;
}

#Poster a {
  color: #fff;
  text-decoration: none;
}

#Poster a:hover {
  color: black;
}

/* book */

#Book img {
  object-fit: scale-down;

  width: 200px;
  height: auto;

}

#Book a {
  color: black;
  text-decoration: none;
}

#Book a {
  color: #black;
  text-decoration: none;
}

#Book a:hover {
  color: #dedede;
}

.modal-img {
  width: 400px !important;
}

.bigger-img {
  width: 480px !important;
}

/* contact */

#Contact {
  background-color: #00342B;
  color: #cbcbcb;
}

#Contact a {
  text-decoration: none;
  color: #cbcbcb;
}

#Contact a:hover {
  color: white;
}

.fa-linkedin {
  padding-right: 7px;
}