@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 25px;
  }
  .work-image {
    width: 260px;
    height: 260px;
    float: right;
    margin-right: 20%;
    margin-bottom: 30px;
  }

  .front-image {
    width: 260px;
    height: 260px;
    margin-right: 14%;
    margin-top: 30px;
  }

  .ikjes-explained {
    font-size: 18px;
  }
}
